%parent{
    font-family: 'CustomFont';
    font-size: 50px;
    text-align: center;
}

@font-face{
    font-family: "CustomFont";
    src: url(CuanPassive-ywEM5.otf);
}
@font-face{
    font-family: "CustomFont1";
    src: url(expressway\ rg.otf);
}
body{
    // background-image: url(pngtree-financial-currency-photography-chart-picture-image_1559673.jpg);
    // background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(46, 132, 219), rgba(104, 123, 217), rgba(36, 116, 156), rgba(124, 98, 173), rgba(193, 192, 194), rgba(48, 84, 98));
    // background-color: rgba(30, 75, 115, 1);
}

h1{
    @extend %parent;
}

%uni{
    cursor: pointer;
    font-family:'CustomFont1';
    font-size: 15px;
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    border-color: grey;
}

div{
    text-align: center;
}
#from{
    @extend %uni;
}
#to{
    @extend %uni;
    margin-left: 23px;
    margin-top: 10px;
}

input{
    cursor: pointer;
    font-family: 'CustomFont1';
    font-size: 15px;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    border-color: grey;
}

span{
    font-family:'CustomFont1';
    margin-left: 6px;
    margin-right: 8px;
    font-size: 18px;
}

#result{
    text-align: center;
    font-family: 'CustomFont1';
    font-size: 25px;
    margin-top: 15px;
}